@page "/"

<div class="row">
    <div class="col-md-4">
        <ToDoListApp.Pages.Components.ToDo HeaderName="To Do"></ToDoListApp.Pages.Components.ToDo>
    </div>
    <div class="col-md-4">
        <ToDoListApp.Pages.Components.ToDo HeaderName="Doing"></ToDoListApp.Pages.Components.ToDo>
    </div>
    <div class="col-md-4">
        <ToDoListApp.Pages.Components.ToDo HeaderName="Done"></ToDoListApp.Pages.Components.ToDo>
    </div>

</div>
